@{
    Layout = "~/Views/Shared/_Layout1.cshtml";


}


    @*<h2 class="bg-info text-center p-2 text-dark">This is user form for sign up</h2>
    <form class="bg-light text-center p-2 text-dark" method="post" action="/AddUser/AddUserForm">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <label asp-for="Name"></label><br>
            <input asp-for="Name"><br>
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="DOB"></label><br>
            <input asp-for="DOB"><br>
            <span asp-validation-for="DOB"></span>
        </div>
        <div>
            <label asp-for="Gender"></label><br>
            <input asp-for="Gender"><br>
            <span asp-validation-for="Gender"></span>
        </div>
        <div>
            <label asp-for="LoginID"></label><br>
            <input asp-for="LoginID"><br>

        </div>
        <div>
            <label asp-for="Password"></label><br>
            <input asp-for="Password" type="password"><br>
            <br />
            <span asp-validation-for="Password"></span>
        </div>
        <input class="bg-success" type="submit" value="Add User" /><br>
        <br />
        <a class="btn-info text-center " asp-controller="AddUser" asp-action="ViewUser">View User</a>



    </form>*@
