
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";


}
@*<h2 class="bg-info text-center p-2 text-dark">This is edit form</h2>
<form class="bg-light text-center p-2 text-dark" method="post" asp-action="Edit">
    <div asp-validation-summary="ModelOnly"></div>


    <div>
        <label class="form-label" asp-for="Name"></label><br>
        <input class="form-control" asp-for="Name"><br>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label class="form-label" asp-for="DOB"></label><br>
        <input class="form-control" asp-for="DOB"><br>
        <span asp-validation-for="DOB"></span>
    </div>
    <div>
        <label class="form-label" asp-for="Gender"></label><br>
        <input class="form-control" asp-for="Gender"><br>
        <span asp-validation-for="Gender"></span>
    </div>
    <div>
        <label class="form-label" asp-for="LoginID"></label><br>
        <input class="form-control" asp-for="LoginID" readonly><br>

    </div>

    <div>
        <label class="form-label" asp-for="Password"></label><br>
        <input class="form-control" asp-for="Password" type="password"><br>
        <span asp-validation-for="Password" ></span>
    </div>

    <input class="bg-success" type="submit" value="Save User" /><br>
    <br />



</form>*@
