<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .most-liked {
            position: relative;
            margin-top: 25px;
        }

        .video-container {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            
        }

        .bg-video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 89%;
        }

        .cafe-card {
            position: relative;
            box-shadow: 5px 15px 50px #634832 ;
            transition: all .8s;
            overflow: hidden;
            cursor: pointer;
        }

        .rotate {
            perspective: 100rem;
        }

        .back {
            position: absolute;
            top: -100%;
            background: #fff;
            height: 100%;
            width: 100%;
            opacity: 0;
            user-select: none;
            pointer-events: none;
            transform: rotateY(180deg);
            transition: top .8s opacity .4s;
        }

        .back-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        .rotate:hover .cafe-card {
            transform: rotateY(180deg);
        }

        .rotate:hover .back {
            opacity: 1;
            top: 0;
            user-select: initial;
            pointer-events: auto;
        }

        .back-content .btn {
            color: #000;
        }

        * {
            margin: 0;
            padding: 0;
            font-family: 'Josefin Sans',sans-serif;
        }

        .content-4 .nav {
            justify-content: center;
            margin-bottom: 5%;
        }

        .content-4 .nav-tabs {
            margin: 2px;
            border: none;
            text-align: center;
            cursor: pointer;
            background: #000;
        }

        .content-4 .tab-item {
            text-decoration: none;
            color: #dbc1ac;
        }

            .content-4 .tab-item i {
                display: block;
                font-size: 45px;
                padding: 6px 27px 0px 27px;
            }

            .content-4 .tab-item span {
                display: inline-block;
                padding-bottom: 16px;
                width: 100%;
                padding-left: 5px;
                padding-right: 5px;
            }

            .content-4 .tab-item.active {
                color: #967259;
            }

        .tab-content {
            margin-bottom: 5%;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse alert-dismissible bg-dark">
        <div class="container-fluid alert-dismissible ">
            <div class="navbar-header bs-popover-top">

                <a class="navbar-dark text-warning font-italic font-weight-bold">Online Cafeteria and Restaurnt System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div>
                <a class="btn-dark text-center font-italic" asp-action="RestaurentHomePage">Home</a>


                <a class="btn-dark text-center font-italic " asp-action="RestaurentList"> RestaurentList </a>&nbsp;
                <a class="btn-dark text-center font-italic" asp-action="RestaurentHomePage">About us</a>
                <a class="btn-dark text-center font-italic" asp-action="RestaurentContactUs">Contact us</a>
                <a class="btn-dark text-center font-italic" asp-action="RestaurentHomePage">Logout</a>

            </div>

        </div>

    </nav>
    <h1 class="text-center text-warning font-italic font-weight-bold ">----- Assalam o alikum !  ---- </h1>

    <div>
        @RenderBody()
    </div>

</body>


</html>