@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<h2>----Welcome to our Website----</h2>
<p>Select menu from above navigation bar</p>
<p>
    <ol>
        <li>Restaurants : show list of restaurants near you</li>
        <li>View Cart: show list of items in your cart</li>
        <li>Login:Login provede you facility to Login or sign in to our Website</li>
        <li>About Us:Show information regarding our website</li>
    </ol>
</p>