@using FinalYearProjet.Models;
@model Restaurent
@{ Layout = "~/Views/Shared/_Layout1.cshtml"; }
<h2 class="bg-transparent p-2 text-dark font-italic  text-center ">Form To Add Restaurent</h2>
<style>
    body {
        background-image: url('https://upserve.com/media/sites/2/Restaurant-Decor-Blog.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    * {
        box-sizing: border-box;
    }

    input[type=text], select, textarea {
        width: 50%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }

    label {
        width: 50%;
        padding: 12px 12px 12px 0;
        display: inline-block;
    }

    input[type=submit] {
        background-color: #4CAF50;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

        input[type=submit]:hover {
            background-color: #45a049;
        }

    .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }

    .col-25 {
        float: left;
        width: 25%;
        margin-top: 6px;
    }

    .col-75 {
        float: left;
        width: 75%;
        margin-top: 6px;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .form-area {
        background: rgba(0,0,0,0.5);
        width: 450px;
        left: 30%;
    }
</style>
<form enctype="multipart/form-data" class=" position-absolute  text-center p-2 text-dark shadow form-area " method="post" action="/RestaurentAdmin/AddRestaurent">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label class="text-warning font-weight-bold font-italic" asp-for="RestaurentID"></label><br>
        <input class="bg-transparent" asp-for="RestaurentID" placeholder="Enter  Restaurant Id "><br>
        <span asp-validation-for="RestaurentID"></span>
    </div>
    <div>
        <label class="text-warning font-weight-bold font-italic" asp-for="Password"></label><br>
        <input class="bg-transparent" asp-for="Password" type="password"placeholder="Enter  Your Password "><br>
        <br />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label class="text-warning font-weight-bold font-italic" asp-for="NameOfRestaurants"></label><br>
        <input class="bg-transparent" asp-for="NameOfRestaurants" placeholder="Enter Name Of Restaurant "><br>
        <span asp-validation-for="NameOfRestaurants"></span>
    </div>
    <div>
        <label class="text-warning font-weight-bold font-italic " asp-for="Location"></label><br>
        <input class="bg-transparent" asp-for="Location" placeholder="Enter Address"><br>
        <span asp-validation-for="Location"></span>
    </div>
    <div>
        <label class="text-warning font-weight-bold font-italic" asp-for="PhoneNo"></label><br>
        <input class="bg-transparent" asp-for="PhoneNo" placeholder="Enter contact details"><br>
        <span asp-validation-for="PhoneNo"></span>
    </div>
    <div>
        <label class="text-warning font-weight-bold font-italic" asp-for="OpenUntil"></label><br>
        <input class="bg-transparent" asp-for="OpenUntil" placeholder="Enter timings"><br>

    </div>
    <div>
        <label class="text-warning font-weight-bold font-italic" asp-for="DeliveryCharges "></label><br>
        <input class="bg-transparent" asp-for="DeliveryCharges " placeholder="Enter Delivery Charges "><br>
        <br />
        <span asp-validation-for="DeliveryCharges "></span>
    </div>
    <div class="custom-file">
        <div>
            <input class="form-control  bg-transparent" asp-for="Photo"><br>
        </div>
    </div>
    <br />

    <input class="bg-success" type="submit" value="Add Restaurent" /><br>
    <br />


</form>
<a class="btn-dark text-center font-italic " asp-controller="Restaurent" asp-action="RestaurentList"> RestaurentList </a>
