@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<nav class="navbar navbar-inverse alert-dark">
    <div class="container-fluid alert-info">
        <div class="navbar-header bs-popover-top">

        </div>

        <div>

            <a class="btn-info text-center " asp-controller="" asp-action="">Add to Cart </a>


        </div>

    </div>
</nav>
<table class="table table-dark table-hover table-striped">

    <thead>
        <tr>
            <th>
                Name of Restaurent
            </th>
            <th>
                Location of Restaurent
            </th>
            <th>
                Phone Number
            </th>
            <th>
                open untill
            </th>
            <th>
                 Delivery Charges
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
    

    </tbody>

</table>
